body {
  background-image: url('https://d38hreqg3edp42.cloudfront.net/waldorfastoriamonarchbeach.com-922720774/cms/cache/v2/5fd0142c7963a.jpg/1920x864/fit/80/27089501fc58560dd17b8b166da66c77.jpg');
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}
